.fb {
  width: 300px;
  height: 300px;
  border-radius: 100%;
  background-color: white;
  margin: 50px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.rank {
  color: red;
  font-size: larger;
}
